body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper-chat{
  height: 500px;
  margin-top: 30px;
 
}
.scrool-buttom{
  /* height: 100%; */
  overflow: auto;
  height: 500px;
}
.bg-green{
  background-color: lightgreen;
}
.pointer{
  cursor: pointer;
}

.list-group-item {
  border: none;
}

.list-group-item img {
  margin-right: 10px;
}